<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salud Mental</title>
    <link rel="stylesheet" href="../Css/saludMental.css">

</head>

<body>
    <div>
        <section class="sec2">

            <section class="tsm"><br>
                <section class="titulo">SALUD MENTAL</section>
                La salud mental se refiere a nuestro bienestar emocional, psicológico y social. Involucra la forma en
                que pensamos,
                sentimos y actuamos en nuestra vida diaria. Una buena salud mental nos permite enfrentar desafíos,
                manejar el estrés,
                mantener relaciones saludables y tomar decisiones informadas. Cuidar de nuestra salud mental es esencial
                para vivir una
                vida plena y satisfactoria.
            </section>
            <section class="sec1">
                <img src="1.jpg" width="650vh" height="480vh" class="img1">
            </section>
        </section>

        <section class="sec2">
            <section>
                <img src="x.jpg" width="750vh" height="450vh" class="img1">
            </section>
            <section class="tsm"><br>
                <section>Importancia De la Salud Mental</section>
                La salud mental es un componente esencial del bienestar general y afecta todos los aspectos de la
                vida de una persona.
                Aquí destacamos algunas razones clave para entender por qué la salud mental es importante:
                <br><br>
                <ul>
                    <li>Relaciones interpersonales: Nuestra salud mental tiene un impacto directo en nuestras
                        relaciones. Cuando estamos
                        mentalmente saludables, somos más capaces de establecer relaciones satisfactorias y mantener
                        conexiones significativas
                        con otros.</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                </ul>
            </section>
        </section>




        <section class="sec3">
            <article>
                <h1 class="h1">Diseño Puro</h1>
                <p>empresa especializada en diseño de interiores q
                    funcionales y
                    estéticos. Nuestro
                    equipo de diseñadores altamente capacitados tr
                    clientes
                    para lograr
                    resultados personalizados que se adapten a sus
                <p>Nuestra dedicación al detalle y la calidad se r
                    Diseño Puro para
                    transformar tus espacios en entornos inspirado
                </p>
            </article>
            <section class="sec4">
                <h1 class="h1">Navegacion</h1>
                <P>Inicio</P>
                <p>Galeria</p>
                <p>Trabajo</p>
                <p>Nosotros</p>
            </section>
            <section class="sec4">
                <p>Vistas</p>
                <p>Servicios</p>
                <p>Contacto </p>
                <p>FAQS</p>
            </section>
            <section class="sec4">
                <article>
                    <h1 class="h1">Contactanos</h1>
                </article>
                <p>Numero: (+52) 5523104292</p>
                <p>E-mail: Diseñopuro1@gmail.com</p>
            </section>
    </div>
</body>

</html>